*, *:before, *:after; {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  margin:8px;
  display: block;
}

.container {
  text-transform: uppercase;
  font-family: systems-ui, sans-serif;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.preview h1 {
  text-transform: none;
  font-family: times-new-roman;
  font-size: 18px;
  width: 200px;
  height: 200px;
  text-align: left;
}

.baku {
  background-image: url(baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 850px;
}

.london {
  background-image: url(london.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 850px;
}

.madrid {
  background-image: url(madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 850px;
}

.rome {
  background-image: url(rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 850px;
}

@media screen and (min-width: 575px) {
  .container, .baku, .london, .madrid, .rome {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px) {
  .container, .baku, .london, .madrid, .rome {
    margin: 1%;
    width: 33.3%;
  }
}
