*, *:before, *:after; {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  display: block;
  margin: 8px;
}

.container {
  position: relative;
  margin: 20px auto;
  width: 90%;
  float: center;
}

.container h1 {
  text-transform: uppercase;
  font-family: systems-ui, sans-serif;
  font-size: 16px;
  text-align:center;
}

.top-left {
  background-color: transparent;
  top: 20px;
  left: 20px;
  font-size: 18px;
}

.top-left-2 {
  background-color: transparent;
  top: 20px;
  left: 20px;
  font-size: 18px;
}

.preview h1{
  text-transform: capitalize;
}

.previewbaku {
  img: url(../images/baku.jpg);
  width: 90%;
}

.previewlondon {
  img: url(../images/london.png);
  width: 90%;
}

.previewmadrid {
  img: url(../images/madrid.jpg);
  width: 90%;
}

.previewrome {
  img: url(../images/rome.jpg);
  width: 90%;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 20px;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 16%;
  }
}
